<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>(<%= count %>) Counter</title>
    <%- uiKitCss %>
  </head>
  <body>
    <section class="uk-container">
      <h1>The count is: <%= count %></h1>

      <% if (count> 20) { %>
      <h2>WOAH!</h2>
      <% } %>

      <p>
        <button id="btn">Increment it</button>
      </p>

      <p><%= uiKitCss %></p>

      <% if (count > 0) { %>
      <ul>
        <% for (let i = 0; i < count; i++) { %>
            <li><%= 99 - i %> bottles of beer on the wall</li>
            <% } %>
      </ul>
      <% } %>
    </section>

    <script>
      document.getElementById("btn").addEventListener("click", () => {
        fetch("/inc", { method: "post" }).then(() => {
          location.reload();
        });
      });
    </script>
  </body>
</html>
